@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root {
    --bg-color: #2c2f33;
    --typewriterSpeed: 4.5s;
    --typewriterCharacters: 25;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2c2f33;
}

li, a, button {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #7289da;
    text-decoration: none;

}

.nav-links li::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #202025;
    border-radius: 50%;
    margin-right: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;

}

.nav-links li a:hover {
    color: #ee7752;
}

.nav-links .active {
    color: #ee7752;
}

button {
    padding: 6px 20px;
    background-color: rgb(32, 32, 37);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    justify-content: center;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: rgba(238, 119, 82, 0.4);
    color: #ee7752;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #7289da;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    gap: 1px;
    margin-top: 75px;
}

.text-boxes {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    margin-left: 20%;

}

.picture-box {
    width: 50%;
    margin-right: 20%;
    margin-left: 5%;
}

.text-box {
    font-size: 18px;
    width: 80%;
    height: 100px;
    font-family: "Oswald", sans-serif;
    color: #7289da;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0;
    padding: 10px;
    text-align: center;
}

.picture-box img {
    width: 85%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.image-box {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 20px 0;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-line {
    margin-top: 50px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: #7289da;
    margin-bottom: 20px;
    font-size: 20px;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #7289da;
    outline: none;
    background: #2c2f33;
    transition: background 0.2s, border-color 0.2s;

}

.form__input:focus {
    border-color: #23272a;
    background: #ee7752;
}

.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form__input-group {
    margin-bottom: 1rem;

}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: #2c2f33;
    display: flex;
    justify-content: center;
}

.container1 {

    width: 700px;
    max-width: 700px;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #7289da;

    height: 40vh;


    justify-content: normal;
    font-size: 18px;
    background: var(--color-primary-dark);
    background-size: cover;
}


td, th {
    padding: 7px;
}


td, th {
    text-align: center;
}

table {
    width: 50%;
    overflow-x: auto;
    margin: 0 auto;
    margin-bottom: 150px;
}

td {
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    color: #7289da;
}

tr {
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    color: #7289da;
}

table {
    border-collapse: collapse;
}

label {

    font-family: "Oswald", sans-serif;
    color: #7289da;
}

form label {
    display: flex;
    justify-content: center;
}

.about-us-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 325px;
    height: 340px;
    background-color: #b0624f;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    margin: 25px;
    margin-top: 60px;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    color: #23272a;
    background-color: #b0624f;
    margin: 20px;
}

.card p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #23272a;
    margin: 20px;
    background-color: #b0624f;
}

.about-us-cards1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1 {
    width: 350px;
    height: 450px;
    background-color: #b0624f;

    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    margin: 25px;
    margin-top: 60px;
    border: 0px solid transparent;
    box-shadow: 0 0 12px 4px rgba(0, 61, 255, 0.5);
    animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
    to {
        box-shadow: 0 0 12px 4px rgba(0, 255, 234, 0.5);
    }
}

.card1:hover {
    transform: scale(1.1);
}

.card1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card1 h3 {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    color: #23272a;
    background-color: #b0624f;
    margin: 20px;
    text-align: center;
}

.card1 p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #23272a;
    margin: 20px;
    background-color: #b0624f;
    text-align: center;
}

h2 {
    font-size: clamp(1rem, 2vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    width: max-content;
    margin: auto;
    margin-top: 30px;
    color: #ee7752;
}

h2::before,
h2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h2::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

h2::after {
    width: 0.125em;
    background: #7289da;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-us-cards2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 {
    width: 430px;
    height: 630px;
    background-color: #b0624f;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    margin: 25px;
    margin-top: 60px;
}

.card2:hover {
    transform: scale(1.1);
}

.card2 img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.card2 h3 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color: #23272a;
    background-color: #b0624f;
    margin: 20px;
    text-align: center;
}

.card2 p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #23272a;
    margin: 20px;
    background-color: #b0624f;
    text-align: center;
}

.contact-card {
    border: 2px solid #7289da;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    height: 160px;
    margin: auto;
    margin-top: 40px;
    background-color: #b0624f;
}

.contact-card h3 {
    margin-top: 0;
    font-family: "Oswald", sans-serif;
    background-color: #b0624f;
    font-size: 22px;
}

.contact-info {
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    background-color: #b0624f;
    font-size: 18px;
}

p {
    font-family: "Oswald", sans-serif;
    background-color: #b0624f;
    font-size: 16px;
}