<head>
    <title>Home</title>
    <link href="main2.css" rel="stylesheet" type="text/css">
</head>
<body>

    <header>
        <img class="logo" src="icons8-label-printer-96.png" alt="logo">
        <nav>
            <ul class="nav-links">

                <li><a href="/">Home</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/myorders">My Orders</a></li>
                <li><a href="/myprofile">My Profile</a></li>
            </ul>
        </nav>

        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>

    </header>


    <div class="container">
        <div class="text-boxes">
            <div class="image-box">
                <img src="price_img.png" alt="image">
            </div>
            <div class="text-box">
                We guarantee high product and printing quality and the best price on the market. It is like a bonus. Because we believe in affordable quality.
            </div>
            <div class="image-box">
                <img src="quality_img.png" alt="image">
            </div>
            <div class="text-box">
                Thanks to advanced and durable printing options that depend on the product, we offer top quality performance. Just your untamed creativity.
            </div>
        </div>
        <div class="picture-box">
            <img src="home_image.png" alt="image">
        </div>

    </div>

</body>