<head>
    <title>Login</title>
    <link href="main.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="icons8-label-printer-96.png" type="image/png">
</head>
<body>
<div class="container">

    <h1 class="form__title">Login</h1>
    <% if (messages.error) { %>
        <div class="error"><%= messages.error %></div>
    <% } %>
    <form action="/login" method="POST">
        <div class="form__input-group">
            <label for="email"></label>
            <input type="email" class="form__input" autofocus placeholder="E-mail" id="email" name="email" required>
        </div>
        <div class="form__input-group">
            <label for="password"></label>
            <input type="password" class="form__input" autofocus placeholder="Password" id="password" name="password"
                   required>
        </div>
        <button class="form__button" type="submit">Login</button>
    </form>
    <a class="form__link" href="/register">Don't have an account? Sign up</a>
</div>
</body>