<head>
    <title>Register</title>
    <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <% if (locals.message) { %>
        <p class="form__message"><%= locals.message %></p>
    <% } %>
    <h1 class="form__title"> Register</h1>
    <form action="/register" method="POST">
        <div class="form__input-group">
            <label for="name"></label>
            <input type="text" class="form__input" autofocus placeholder="Name" id="name" name="name" required>
        </div>
        <div class="form__input-group">
            <label for="email"></label>
            <input type="email" class="form__input" autofocus placeholder="E-mail" id="email" name="email" required>
        </div>
        <div class="form__input-group">
            <label for="password"></label>
            <input type="password" class="form__input" autofocus placeholder="Password" id="password" name="password"
                   required>
        </div>
        <button class="form__button" type="submit">Register</button>
    </form>
        <% if (locals.error) { %>
        <p class="form__error"><%= locals.error %></p>
    <% } %>
    <a class="form__link" href="/login">Already have an account? Sign in</a>
</div>
</body>